*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background-color: rgb(235, 90, 136);
padding: 10px;

}
 body{
    background: rgb(235, 90, 136);

 }
    
header{
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 10px;
    position: relative;
    
}

/*Pseudoclasses para estilização de menu de navegação*/
nav#menu a:link{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;


}
nav#menu a:visited{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
nav#menu a:hover{
    color: rgb(175, 59, 96);
}
nav#menu li:hover{
    background-color: rgb(182, 42, 86);
}